.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand {
    font-size: 1.2em;
    text-decoration: none;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list {
    margin-right: 1em;
}


.links_list li a {
    text-decoration: none;
    padding: .4em .6em;
}

.active{
    background-color: #396afc;
    color: #fff;
    transition: .5s;
    border-end-end-radius: 15px;
    border-top-left-radius: 15px;
}


.menu_icon {
    display: none;
}


@media (max-width: 600px){
    .navbar {
        height: 2em;
    }
    
    .links_list {
        display: none;
        list-style: none;
    }
    
    .menu_icon {
        display: block;
    }
    
    
    .links_list_mobile{
        background-color: rgba(255, 255, 255, 0.9);
        width: 95%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
        list-style: none;
        left: -10px;
        transition: .4s;
    }
    
    .links_list_mobile li{
        text-decoration: none;
        padding: .4em .6em;
        margin-bottom: 10px;
    }

    .active{
        background-color: #396afc;
        color: #fff;
        padding: 2px 100px 2px 10px;
        transition: .5s;

    }
    
}